*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100%;
    width: 100%;
}
.body_container{
    background-color: lavenderblush;
}
a{
    text-decoration: none;
}
.container{
    max-width: 95vw;
    padding: 2rem 1rem;
    margin: 0 auto;
}
.header_container{
    margin-bottom: 3.8rem;
    display: flex;
   flex-direction: column;
   align-items: center;
}
.header_title{
    margin-bottom: 3.8rem;
    font-size: 8rem; 
    line-height: 2rem;
    font-weight: 7000;
    text-align: center;
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    color: rgb(108, 58, 108);
    /* color:rgba(126, 51, 126, 0.674); */
}
.header_desc{
    max-width: 768px;
    text-align: center;
    color: gray;
    margin-top: 0 auto;
    align-self: center;
}
.main_container{
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(1, 1fr);  
}
@media(min-width:560px){
    .main_container{
        grid-template-columns: repeat(2, 1fr);
    }
 .qrcode{
    height: 10rem;
    width: 10rem;
 }
}
@media(min-width:1080px){
    .main_container{
        grid-template-columns: repeat(3, 1fr);
    }
    .qrcode{
        height: 10rem;
        width: 10rem;
     }
}
@media(min-width:1340px){
    .main_container{
        grid-template-columns: repeat(4, 1fr);
    }
    .qrcode{
        height: 10rem;
        width: 10rem;
     }
}
.card_container{
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(106, 92, 92);
    border-radius: 5px;
}
.card_image_container{
    position: relative;
    overflow: hidden;
    height: 14rem;
}
.card_image{
    object-fit: cover;
    object-position: center;
    position: absolute;
    height: 100%;
    width: 100%;
}
.card_title_container{
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
}
.card_container:hover .card_image{
transform: scale(1.1);
transition-duration: 200ms;
}
.card_titlemy{
    font-size: 1rem;
    font-weight: 600;
    color: rgb(46, 40, 40);
    line-height: 1.5rem;
    margin-bottom: 0.3rem;
    text-decoration: none;
}
.card_title_anchor:hover .card_title{
    color: rgb(27, 27, 159);
}
.card_desc{
    color: rgb(87, 79, 79);
    font-size: 1rem;
}
.card_footer_container{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.author_container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}
.author_avatar_conatiner{
    height: 2.5rem;
    width: 2.5rem;
    overflow: hidden;
    border: 1px solid rgb(86, 79, 79);
    border-radius: 50%;
    background-color: rgb(83, 75, 75);
}
.author_info_container{
    display: flex;
    flex-direction: column;
}
.author_name{
    color: rgb(47, 47, 125);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 200;
}
.author_date{
    color: rgb(78, 71, 71);
}
.card_tag_container{
    font-size: 0.9rem;
    border: 1px solid rgb(83, 76, 76);
    border-radius: 2px;
    line-height: 1.3rem;padding: 0.15rem 0.5rem;
    color: gray;
}
.btnmy{
    background-color: rgba(126, 51, 126, 0.674); 
    border: none;
    color: white;
    padding: 5px 2px;
    text-align: center;
    /* text-decoration: underline; */
    display: inline-block;
    font-size: 15px;
    margin: 2px 1px;
    cursor: pointer;
    border-radius: 2px;
    transition: background-color 0.3s ease;
}
.btnmy:hover {
    background-color: rgb(108, 58, 108);
    text-decoration: overline;
}
footer {
    display: flex;
  }
.qrcode{
    height: 10rem;
    align-self: center;
    justify-self: center;
padding-right: 3rem;
} 
.ques{
    text-align: center;
    padding-top:1rem ;
    color:floralwhite ;
    font-family: cursive;
    font-weight: bold;
}